<div id="terms" class="enable_text_select">
  <p>
	该软件是一个免费的、开源的、多签名的数字钱包。由talkblock.org社区提供的一项数字钱包服务, 协议中的"我们"只是几个屌丝, "您"就是你.
  </p>
  <p>
	虽然软件已经通过了beta测试，并继续得到开源用户和开发者社区的反馈，但我们不能保证软件中不会有bug。您承认您对本软件的使用是您自行决定的，并符合所有适用的法律。你负责保管你的密码，私钥，PINs，和任何你用来访问本软件的代码。
  </p> 
  <p class="terms__heading">
   权利和义务
  </p>
  <p>
	软件和服务端不保存您创建的热点币账户, 如果您丢失了您的热点币钱包或您的私人密钥，并且没有备份.则您承认并同意，您与该钱包相关的任何Wificoin都会变得无法访问. 我们无法帮您恢复, 也做不到.
  </p>
  <p>
	您承认并同意钱包由您自己管好. 自己备份好. 丢了不找我们!
  </p>
  <p class="terms__heading">
    隐私和个人信息保护
  </p>
  <p>
	软件不会向您请求任何隐私和个人信息. 主要是大家都没有什么隐私.
  </p>  <p class="terms__heading">
    赔偿
  </p>
  <p>
	不存在的!
  </p>  
  </p>  
  </p>  
  <p class="terms__heading">
    免责声明
  </p>
  <p>
	我们负责任的告诉您, 我们不负任何责任!
  </p>
  <p class="terms__heading">
    知识产权
  </p>
  <p>
	开源的开源的完全开源的!
  </p>
</div>
